<ul id="slide-out" class="side-nav">
    <li>
        <div class="userView">
            <div class="background">
                <img src="assets/img/bg.jpg">
            </div>
            <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
            <a href="#!name"><span class="white-text name">John Doe</span></a>
            <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div>
    </li>
    <li><a href="#!"><i class="material-icons">mode_edit</i>Fazer uma Pergunta</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="waves-effect" href="#!">Minhas Perguntas</a></li>
</ul>
