<ul id="slide-out" class="side-nav">
    <li>
        <div class="userView">
            <div class="background">
                <img src="assets/img/bg.jpg">
            </div>
            <a href="#!user"><img class="circle" ng-src="{{$ctrl.user.profile_image}}"></a>
            <a href="#!name"><span class="white-text name">{{$ctrl.user.display_name}}</span></a>
        </div>
    </li>
    <li><a href="#!"><i class="material-icons">mode_edit</i>Fazer uma Pergunta</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="waves-effect" href="#!">Minhas Perguntas</a></li>
</ul>
