<div ng-show="$ctrl.open" {{$ctrl.open}}>
    <div id="suggestionsModal" class="modal bottom-sheet">
        <div class="modal-content">
            <h4><small>Algumas dicas para melhorar sua pergunta</small></h4>
            <ul class="collection">
                <li class="collection-item" ng-repeat="sug in $ctrl.suggestions">

                    <span class="title"><b>{{sug.header}}</b></span>
                    <br>
                    <span ng-repeat="m in sug.subHeaders">
                        <i>{{m}}</i>
                        <br>
                    </span>
                </li>

            </ul>
        </div>
    </div>
</div>
