<div ng-show="$ctrl.open" {{$ctrl.open}}>
    <div id="suggestionsModal" class="modal bottom-sheet">
        <div class="modal-content">
            <div class="row">
                <div class="col s9">
                    <h4><small>{{ 'LB_SUGGESTIONS' | translate }}</small></h4>
                </div>
                <div class="col s3">
                    <!-- <button class="btn">{{ 'BT_IGNORE' | translate }}</button> -->
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <ul class="collection">
                        <li class="collection-item" ng-repeat="sug in $ctrl.suggestions">

                            <span class="title"><b>{{sug.header}}</b></span>
                            <br>
                            <span ng-repeat="m in sug.subHeaders">
                        <i>{{m}}</i>
                        <br>
                    </span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
