  @media only screen and (min-width: 732px) {
      main {
          position: absolute;
          height: 80%;
          width: 80%;
          top: 10%;
          left: 10%;
          padding-left: 300px;
      }
  }

  h5, h4 {
      font-size: 21px;
      font-variant: inherit;
      font-weight: 100;
      line-height: 36px;
      text-decoration: none;
      color: #929fa6;
      font-weight: 300;
      letter-spacing: 0.8px;
  }

  body {
      background: #fff;
  }

  @media only screen and (min-width: 732px) {
      .login {
          position: absolute;
          height: 75%;
          width: 75%;
          top: 10%;
          left: 10%;
      }
  }

  .button-collapse {
      cursor: pointer;
  }

  .aqt-nav-site {
      margin-top: 0px !important;
      padding: 0px !important;
      margin-bottom: 8px !important;
  }

  .aqt-card-info {
      padding-top: 10px !important;
  }

  .aqt-empty-questions {
      margin-top: 22px !important;
      font-size: 20px !important;
      font-variant: inherit !important;
      font-weight: 100 !important;
      line-height: 36px !important;
      text-decoration: none !important;
      color: #929fa6 !important;
      font-weight: 300 !important;
      letter-spacing: 0.8px !important;
  }
  /*card-view*/

  span.badge {
      float: left!important;
      margin-left: 2px !important;
  }

  nav .brand-logo.center {
      left: 45%!important;
  }

  @media only screen and (min-width: 601px) {
      .row .col.m6 {
          width: 100%!important;
      }
  }

  .card-action {
      padding: 10px !important;
      margin-top: 10px !important;
  }

  .card-action a {
      color: #0097a7!important;
  }

  .card-subtitle {
      padding-top: 6px !important;
  }

  .row:after {
      content: none !important;
  }

  .card .card-content .card-title {
      line-height: 19px !important;
  }

  .card .card-title {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 1.3em!important;
      letter-spacing: 1.2px !important;
  }
  /*custom simplemde*/

  .CodeMirror {
      min-height: 100px !important;
  }

  .CodeMirror .CodeMirror-scroll {
      min-height: 100px !important;
  }

  .editor-toolbar {
      border-top-left-radius: 0px !important;
      border-top-right-radius: 0px !important;
  }


  /*OVERLAY*/


  .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

  /*MODAL*/

  .modal.bottom-sheet {
      max-height: 60% !important;
  }
  /*NG ANIMATE*/

  .page.ng-leave {
      z-index: 9999;
  }

  .page.ng-enter {
      z-index: 8888;
  }

  .page-transation.ng-leave {
      -webkit-animation: slideOutLeft 0.5s both ease-in;
      -moz-animation: slideOutLeft 0.5s both ease-in;
      animation: slideOutLeft 0.5s both ease-in;
  }

  .page-transation.ng-enter {
      -webkit-animation: slideInRight 0.5s both ease-in;
      -moz-animation: slideInRight 0.5s both ease-in;
      animation: slideInRight 0.5s both ease-in;
  }
  /* rotate and fall */

  @-webkit-keyframes rotateFall {
      0% {
          -webkit-transform: rotateZ(0deg);
      }
      20% {
          -webkit-transform: rotateZ(10deg);
          -webkit-animation-timing-function: ease-out;
      }
      40% {
          -webkit-transform: rotateZ(17deg);
      }
      60% {
          -webkit-transform: rotateZ(16deg);
      }
      100% {
          -webkit-transform: translateY(100%) rotateZ(17deg);
      }
  }

  @-moz-keyframes rotateFall {
      0% {
          -moz-transform: rotateZ(0deg);
      }
      20% {
          -moz-transform: rotateZ(10deg);
          -moz-animation-timing-function: ease-out;
      }
      40% {
          -moz-transform: rotateZ(17deg);
      }
      60% {
          -moz-transform: rotateZ(16deg);
      }
      100% {
          -moz-transform: translateY(100%) rotateZ(17deg);
      }
  }

  @keyframes rotateFall {
      0% {
          transform: rotateZ(0deg);
      }
      20% {
          transform: rotateZ(10deg);
          animation-timing-function: ease-out;
      }
      40% {
          transform: rotateZ(17deg);
      }
      60% {
          transform: rotateZ(16deg);
      }
      100% {
          transform: translateY(100%) rotateZ(17deg);
      }
  }
  /* slide in from the right */

  @keyframes slideInRight {
      from {
          transform: translateX(100%);
      }
      to {
          transform: translateX(0);
      }
  }

  @-moz-keyframes slideInRight {
      from {
          -moz-transform: translateX(100%);
      }
      to {
          -moz-transform: translateX(0);
      }
  }

  @-webkit-keyframes slideInRight {
      from {
          -webkit-transform: translateX(100%);
      }
      to {
          -webkit-transform: translateX(0);
      }
  }
  /* slide in from the bottom */

  @keyframes slideInUp {
      from {
          transform: translateY(100%);
      }
      to {
          transform: translateY(0);
      }
  }

  @-moz-keyframes slideInUp {
      from {
          -moz-transform: translateY(100%);
      }
      to {
          -moz-transform: translateY(0);
      }
  }

  @-webkit-keyframes slideInUp {
      from {
          -webkit-transform: translateY(100%);
      }
      to {
          -webkit-transform: translateY(0);
      }
  }
  /* slide in from the bottom */

  @keyframes slideOutLeft {
      to {
          transform: translateX(-100%);
      }
  }

  @-moz-keyframes slideOutLeft {
      to {
          -moz-transform: translateX(-100%);
      }
  }

  @-webkit-keyframes slideOutLeft {
      to {
          -webkit-transform: translateX(-100%);
      }
  }
  /*Loader bar*/

  #loading-bar, #loading-bar-spinner {
      pointer-events: none;
      -webkit-pointer-events: none;
      -webkit-transition: 350ms linear all;
      -moz-transition: 350ms linear all;
      -o-transition: 350ms linear all;
      transition: 350ms linear all;
  }

  #loading-bar.ng-enter, #loading-bar.ng-leave.ng-leave-active, #loading-bar-spinner.ng-enter, #loading-bar-spinner.ng-leave.ng-leave-active {
      opacity: 0;
  }

  #loading-bar.ng-enter.ng-enter-active, #loading-bar.ng-leave, #loading-bar-spinner.ng-enter.ng-enter-active, #loading-bar-spinner.ng-leave {
      opacity: 1;
  }

  #loading-bar .bar {
      -webkit-transition: width 350ms;
      -moz-transition: width 350ms;
      -o-transition: width 350ms;
      transition: width 350ms;
      background: #f9a825 !important;
      position: fixed;
      z-index: 10002;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      border-bottom-right-radius: 1px;
      border-top-right-radius: 1px;
  }
  /* Fancy blur effect */

  #loading-bar .peg {
      position: absolute;
      width: 70px;
      right: 0;
      top: 0;
      height: 2px;
      opacity: .45;
      -moz-box-shadow: #f9a825 1px 0 6px 1px !important;
      -ms-box-shadow: #f9a825 1px 0 6px 1px !important;
      -webkit-box-shadow: #f9a825 1px 0 6px 1px !important;
      box-shadow: #f9a825 1px 0 6px 1px !important;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%;
  }

  #loading-bar-spinner {
      display: block;
      position: fixed;
      z-index: 10002;
      top: 10px;
      left: 10px;
  }

  #loading-bar-spinner .spinner-icon {
      width: 14px;
      height: 14px;
      border: solid 2px transparent;
      border-top-color: #f9a825 !important;
      border-left-color: #f9a825 !important;
      border-radius: 50%;
      -webkit-animation: loading-bar-spinner 400ms linear infinite;
      -moz-animation: loading-bar-spinner 400ms linear infinite;
      -ms-animation: loading-bar-spinner 400ms linear infinite;
      -o-animation: loading-bar-spinner 400ms linear infinite;
      animation: loading-bar-spinner 400ms linear infinite;
  }

  @-webkit-keyframes loading-bar-spinner {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }

  @-moz-keyframes loading-bar-spinner {
      0% {
          -moz-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -moz-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }

  @-o-keyframes loading-bar-spinner {
      0% {
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }

  @-ms-keyframes loading-bar-spinner {
      0% {
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }

  @keyframes loading-bar-spinner {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }
