<div class="section"></div>
<div class="section"></div>

<div class="container">
	<center>
		<img class="responsive-img" style="width: 300px;" src="../assets/img/so-logo.png" />
		<h4><small>{{ 'LB_LOGIN_TITLE' | translate }}</small></h4>
	</center>

	<div class="section"></div>


	<form class="col s12">
		<div class='row'>
			<a name='btn_login' ng-click="loginCtrl.login()" class='col s12 btn btn-large waves-effect yellow darken-3'>AUTHORIZE</a>
		</div>
	</form>
	<div id='somediv'></div>
</div>
</div>
