<nav-bar name="'AQT'"></nav-bar>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>

<div class="container">
	<center>
		<img class="responsive-img" style="width: 300px;" src="../assets/img/so-logo.png" />
		<p><small>Faça login com sua conta do Stack Overflow em Português</small></p>
	</center>

	<div class="section"></div>
	<div class="section"></div>
	<div class="section"></div>


	<form class="col s12">
		<div class='row'>
			<a name='btn_login' ng-click="loginCtrl.login()" class='col s12 btn btn-large waves-effect yellow darken-3'>Login com Stack Overflow</a>
		</div>
	</form>
	
</div>
</div>
