<side-nav></side-nav>
<center ng-show="mainCtrl.isQuestions">
    <h4>{{ 'LB_MAIN_TITLE' | translate }}</h4>
</center>
<center ng-show="!mainCtrl.isQuestions" class="aqt-empty-questions">
    <span>{{ 'LB_MAIN_EMPTY' | translate }}</span>
</center>
<div ng-repeat="question in mainCtrl.questions">
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{question.title}}</span>

                    <div class="card-subtitle">
                        <div class="row">
                            <div ng-repeat="tag in question.tags">
                                <span class="new badge" data-badge-caption="{{tag}}"></span>
                            </div>
                        </div>
                        <div align="center" class="aqt-card-info">
                            <div class="col s4">
                                <span>Answers: {{question.answer_count}}</span>
                            </div>

                            <div class="col s4">
                                <span>Votes: {{question.score}}</span>
                            </div>

                            <div class="col s4">
                                <span>View : {{question.view_count}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" class="card-action">
                    <a href="{{question.link}}">{{ 'BT_MAIN_AUTH' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<btn-fb url="'#/new'" icon="add"></btn-fb>
